body {
  background-color: #F2F1E8;


}
.logo{

  color: #2B2F26;
  background-color: white;

}
div.logo{
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img{
  float: left;
  height:50px;
  width: 50px;

}
.main_navigation{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#homelink{
  color: #968772;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
#wrapper_1{
  margin-left: 200px;
  margin-right: 200px;
}
#wrapper_2{
  margin-left: 200px;
  margin-right: 200px;
}

.pagetitle{
  display: flex;
  justify-content: space-around;

}
#first_paragraph{
  display: flex;

}

#birdhouse{
  float: left;
  height: 100px;
  margin-right: 35px;
  margin-bottom: 35px;
}

#banner{
  background-image: url("images/optimized/background-3.jpg");
  display: flex;
  background-size: cover;
  padding: 100px;
  margin-left: -9px;
  margin-right: -9px;
  background-position: center;
  justify-content: center;
}
.banner_text{
  display: flex;
  color: white;
}

#bottom_right_caption{
display: flex;
flex-direction: column;
}
.pots_on_shelf{
  width: 150px;
}
