body {
  background-color: #F2F1E8;
}
p{
  line-height: 1.8;
  font-size: x-large;
}
.logo{

  color: #2B2F26;
  background-color: white;

}
div.logo{
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img{
  float: left;
  height:50px;
  width: 50px;

}
.main_navigation{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#aboutlink{
  color: #968772;
}
a{
  color:black;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
#wrapper_1{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
}
#wrapper_2{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
}

.pagetitle{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 3vw;

}
#first_paragraph{
  display: flex;

}

#birdhouse{
  float: left;
  height: 120px;
  margin-right: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#banner{
  background-image: url("images/optimized/background-3.jpg");
  display: flex;
  background-size: cover;
  padding: 100px;
  margin-left: -9px;
  margin-right: -9px;
  background-position: center;
  justify-content: center;
}
.banner_text{
  display: flex;
  color: white;
}
#facilities{
  display: block;
}
.image_description{
  display: block;
}
.table{
  display: block;
}
.figure{
  width: 200px;
}
figure{
  float: right;
  width: 30%;
  text-align: left;
  font-size: medium;
  text-indent: 0;
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  margin-right: -20px;
  margin-top: -20px;
}

table, td{
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-collapse: collapse;
  margin-bottom: 50px;

}
.top_row{
  text-align: center;
}


td{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 80px;
  font-size: larger;
}
.even_row{
  background-color: #968772;
}

footer {
  display: flex;
  background-color: #3d3916;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 11px;

}

footer p{
  font-size: medium;
  color: white;
}

#mission_statement p{
  border-left: solid;
  border-color: #968772;
  padding-left: 20px;
  font-style: italic;
}

.founder_name{
  margin-top:-25px;
}

h2{
  font-weight: 100;
  font-size: xx-large;
}
