body {
  background-color: #F2F1E8;


}
.logo{

  color: #2B2F26;
  background-color: white;

}
div.logo{
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img{
  float: left;
  height:50px;
  width: 50px;

}
.main_navigation{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#homelink{
  color: #968772;
}


}
main{

}
div .wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}




h1{
  text-align: center;
  font-size: 60px;

}
h2{
  color: white;
  background-color: black;

}
h3{
  text-align: center;
  font-size: 37px;
}

div.images{
  display: flex;
background-repeat: no-repeat;
background-size:  cover;
justify-content: space-between;

}




#pic1{
  background-image: url(images/optimized/product-1.jpg);


}
#pic2{
  background-image: url(images/optimized/product-2.jpg);


}
#pic3{
  background-image: url(images/optimized/product-3.jpg);


}
#pic4{
  background-image: url(images/optimized/product-4.jpg);


}
#pic5{
  background-image: url(images/optimized/product-5.jpg);


}
#pic6{
  background-image: url(images/optimized/product-6.jpg);


}
