body {
  background-color: #F2F1E8;
}

.logo {
  color: #2B2F26;
  background-color: white;
}

.logo {
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img {
  float: left;
  height: 50px;
  width: 50px;
}

.main_navigation {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#homelink {
  color: #968772;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper h1 {
  margin-top: 50px;
  margin-bottom: -30px;
}

.wrapper h3 {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  color: white;
  background-color: #3d3916;
}

h3 {
  text-align: center;
  font-size: 37px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.top_row {
  display: flex;
  height: 350px;
  width: 100%;
}

.bottom_row {
  display: flex;
  height: 250px;
  width: 100%;
}

.box {
  background-size: cover;
  background-position: center;
}

.one {
  background-image: url("images/optimized/product-1.jpg");
  flex-grow: 3;
  margin: 5px;
  display: flex;
  align-items: flex-end;


}

.two {
  background-image: url("images/optimized/product-2.jpg");
  flex-grow: 1;
  margin: 5px;
  display: flex;
  align-items: flex-end;

}

.three {
  background-image: url("images/optimized/product-3.jpg");
  flex-grow: 1;
  margin: 5px;
  display: flex;
  align-items: flex-end;

}

.four {
  background-image: url("images/optimized/product-4.jpg");
  flex-grow: 2;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  background-position: left;
}

.five {
  background-image: url("images/optimized/product-5.jpg");
  flex-grow: 1;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  background-position: left;
}

.six {
  background-image: url("images/optimized/product-6.jpg");
  flex-grow: 4;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  background-position: top;
}

.seven {
  background-image: url("images/optimized/product-7.jpg");
  flex-grow: 1;
  margin: 5px;
  display: flex;
  align-items: flex-end;
}

#footer {
  display: flex;
  color: white;
  background-color: #3d3916;
  margin-left: -8px;
  margin-right: -8;
  padding-bottom: 15;
  padding-top: 15;
  padding-left: 11;
}
