/*#nl_body {
  background-image: url("images/optimized/background-2.jpg");
  background-size: 90em;
}

.logo {
  color: black;
  background-color: white;
}

a {
  color: black;
}

div.logo {
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img {
  float: left;
  height: 50px;
  width: 50px;
}

.main_navigation {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.main_navigation a:hover {
  color: #CD5D67;
  height: 30px;
}

.main_navigation a:active {
  color: #968772;
}

#newsletterlink {
  color: #968772;
}



.signup {
  display: block;
  text-align: center;
  background-color: white;
  margin: 0;

}

.signup p {
  font-family: 'Merriweather', serif;
  font-size: x-large;
}

.signup h2 {
  font-family: 'Merriweather', serif;
  font-size: xx-large;
  font-weight: 100;
  margin-bottom: -18px;
}

.signup {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 70px;
  margin: 15em auto auto auto;
}

input {
  padding-right: 25em;
  border-bottom: solid thin;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: large;
  color: grey;
}

.email {
  margin-top: 3em;
}

.submit_button {
  margin-top: 3em;
  color: white;
  padding: 15px 25px;
  margin-bottom: -2em;
  background-color: #968772;
}

#input_labels {
  font-family: 'Roboto', sans-serif;
}

label {
  border-bottom: solid thin;
  border-color: #968772;
}*/
