body {
  background-image: url("images/optimized/background-2.jpg");



}
.logo{

  color: #2B2F26;
  background-color: white;

}
div.logo{
  overflow: hidden;
  max-height: 65px;
  min-height: 65px;
  padding-top: 15px;
  margin: -8px;
}

.logo img{
  float: left;
  height:50px;
  width: 50px;

}
.main_navigation{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#homelink{
  color: #968772;
}

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


form{
  display: block;
  text-align: center;
  background-color: white;
  margin: 0;
}

p{
  font-family: 'Merriweather', serif;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: xx-large;
}

.signup{
  width: 50%;
padding-top: 10px;
padding-bottom: 70px;
margin: 15em auto auto auto;
}

input{
  padding-right: 25em;
  border-bottom: solid thin;
  border-top: none;
  border-left: none;
  border-right: none;
}

.email{
  margin-top:3em;

}

.submit{
  margin-top: 3em;

}

#input_labels{
  font-family: 'Roboto', sans-serif;

}

label{
  border-bottom: solid thin;
}
